# Cloudinary image hosting
VITE_CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"


# Web3Forms API key
VITE_WEB3FORMS_KEY="your-web3forms-api-key"



# Existing app variables
APP_URL="http://localhost:3000"